<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>AddTeamMemberServlet</servlet-name>
		<servlet-class>TeamMemberServlet.AddTeamMemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddTeamMemberServlet</servlet-name>
		<url-pattern>/addteammember</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RetrieveTeamMember</servlet-name>
		<servlet-class>TeamMemberServlet.RetrieveTeamMemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RetrieveTeamMember</servlet-name>
		<url-pattern>/retrieveteammember</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateTeamMember</servlet-name>
		<servlet-class>TeamMemberServlet.UpdateTeamMemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateTeamMember</servlet-name>
		<url-pattern>/updateteammember</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteTeamMember</servlet-name>
		<servlet-class>TeamMemberServlet.DeleteTeamMemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteTeamMember</servlet-name>
		<url-pattern>/deleteteammember</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>TeamMemberServlet.UpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>Login.loginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Signup</servlet-name>
		<servlet-class>Login.signupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Signup</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Entry</servlet-name>
		<servlet-class>Login.entryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Entry</servlet-name>
		<url-pattern>/entry</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>Login.logoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>entry</welcome-file>
	</welcome-file-list>
</web-app>
